.main_window {
  background-color:rgb(75, 35, 35); height:100%; width:100%; min-height:850px; min-width: 1550px; position:absolute; z-index:0; display:block;
}
.image_window {
  background-color:rgba(75, 35, 35); height:100%; width:60%; min-height:850px; min-width:420px; position:relative; z-index:1; display:inline; float:left;object-fit:contain; 
}
.options_window {
  background-color:rgba(75, 35, 35); height:100%; width:19%; min-height:850px; padding-left: 10px; position:relative; z-index:1; display:inline; float:left;object-fit:contain; 
}
.output_window {
  background-color:rgba(75, 35, 35); height:100%; width: 19%; min-height:850px; position:relative; z-index:1; display:inline; float:left;object-fit:contain; 
}

.image_board {
  background-color:rgba(75, 35, 35); height:70%; width:100%; opacity:1.0; z-index:99; object-fit:contain; 
}

#image_board {
  cursor: grab;
}

#image_board_move {
  position:absolute;
}

.image_display {
  background-color:rgba(255, 255, 255, 1);max-height:100%; max-width:100%;position:absolute; opacity:1.0; border:1px; background-repeat:no-repeat; z-index:3; 
}
.grid_display {
  background-color:rgba(255, 255, 255, 0); max-height:100%; max-width:100%; position:absolute; opacity:0.7; border:1px; background-repeat:no-repeat; z-index:4;
}
.mask_display {
  background-color:rgba(255, 255, 255, 1);max-height:100%; max-width:100%; position:absolute; opacity:0.3; border:1px; background-repeat:no-repeat; z-index:5;
}

.element{
  display:block;
}

.label {
  color: rgb(255, 255, 255); position:relative; font-family: "Monaco", monospace; text-align:center; font-size:16px; letter-spacing:0;z-index:2; 
}
.points_display {
  color:rgba(0, 0, 0, 1); background-color: rgba(255, 255, 255,1); width:95%; min-width:310px; height:30%; min-height:200px; position:relative; font-family:Inter; text-align:left; font-size:12px; letter-spacing:0; z-index:2; overflow-y: scroll; white-space: pre-wrap;
}
.output_display {
  color:rgba(0, 0, 0, 1); background-color: rgba(255, 255, 255,1); width:95%; min-width:310px; height:20%; min-height:70px; position:relative; font-family:Inter; text-align:left; font-size:12px; letter-spacing:0; z-index:2; overflow-y: scroll; white-space: pre-wrap;
}
.textdisplay {
  color:rgba(0, 0, 0, 1); background-color: rgba(255, 255, 255,1); width:95%; min-width:310px; height:5%; min-height:10px; position:relative; font-family:Inter; text-align:left; font-size:12px; letter-spacing:0 ;z-index:2; overflow-y: scroll; white-space: pre-wrap;
}
.button {
  margin: 0px; border: 0px; padding: 0px; background-color:rgba(255, 255, 255, 0.5); width:100px; height:30px; position:relative; z-index:2; 
}

.select {
  background-color:rgba(255, 255, 255, 0.5); width:150px; height:30px; position:relative; z-index:2; 
}

.option {
  background-color:rgba(255, 255, 255, 0.5); width:150px; height:30px; position:relative; z-index:2; 
}

.upload {
  margin: 0px; border: 0px; padding: 0px; background-color:rgba(255, 255, 255, 0.5); width:150px; height:30px; position:relative; z-index:2; 
}

.textinput {
  color:rgba(0, 0, 0, 1); width:220px; height:35px; position:relative; font-family:Inter; text-align:left; font-size:12px; letter-spacing:0;z-index:2; 
}

.check {
  border-radius:500px; background-color:rgba(255, 255, 255, 0.5); width:18px; height:18px; position:relative;
}
.slider {
  background-color:rgba(255, 255, 255, 0.5); width:120px; position:relative; ;z-index:2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.container_vert {
  display: flex;
  flex-direction: column;
}

.image_setting_window {
  background-color:rgba(75, 35, 35); height:30%; width:100%; min-width:420px; position:relative; z-index:99; display:inline; float:left; object-fit:contain; 
}