<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SOPIA 1 - v0.67</title>
		<meta name="description" content="sopia project">
		<meta name="author" content="miguel martinez">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<style>
			body {background: #E5E5E5;
				  overflow: hidden;
				  margin: 0px;
				  border: 0px;
				  padding: 0px;}
		</style>
	</head>

	<body>
		<form id="form_upload_image" class="form_action" action="{{url_for('sopia_upload_image')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_upload_grid" class="form_action" action="{{url_for('sopia_upload_grid')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_upload_mask" class="form_action" action="{{url_for('sopia_upload_mask')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_upload_model" class="form_action" action="{{url_for('sopia_upload_model')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_image" class="form_action" action="{{url_for('sopia_update_image')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_grid" class="form_action" action="{{url_for('sopia_update_grid')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_mask" class="form_action" action="{{url_for('sopia_update_mask')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_model" class="form_action" action="{{url_for('sopia_update_model')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_create_grid" class="form_action" action="{{url_for('sopia_create_grid')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_create_mask" class="form_action" action="{{url_for('sopia_create_mask')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_create_points" class="form_action" action="{{url_for('sopia_create_points')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_compare_points" class="form_action" action="{{url_for('sopia_compare_points')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_point" class="form_action" action="{{url_for('sopia_update_point')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_save_points" class="form_action" action="{{url_for('sopia_save_points')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_clear" class="form_action" action="{{url_for('sopia_clear')}}" method="post" enctype="multipart/form-data"></form>
		
		<div style="background-color: rgba(75, 35, 35); position: relative; height: 5px; width: 3000px; z-index: 1000;"></div>
		<div class="main_window container" id="main_window">
			<div style="background-color: rgba(75, 35, 35); position: relative; height: 100%; width: 10px; z-index: 1000;"></div>
			<div class="image_window container_vert" id="image_window">
				<div class="image_board" id="image_board">
					<div style="height: 100%; width: 100%;;" id="image_board_move">
						<img src="{{url_for('static', filename=data.img)}}" id="image_display" class="image_display" alt ="sample image layer"></img>
						<img src="{{url_for('static', filename=data.grid_img)}}" id="grid_display" class="grid_display" alt="grid image layer"></img>
						<img src="{{url_for('static', filename=data.mask_img)}}" id="mask_display" class="mask_display" alt="segmented mask layer"></img>
					</div>
				</div>
				<div class="image_setting_window" id="image_setting_window">
					<hr>
					<div class="container" style="justify-content: space-evenly;">
						<div class="element container" style="width: 30%;">
							<div class="container" style="width: 20%; justify-content: center;">
								<label for="upload_image" class="label">Image:</label>
							</div>
							<div class="container" style="width: 40%; justify-content: center;">
								<input type="file" name="image_file" id="image_file" class="upload" form="form_upload_image" required>
							</div>
							<div class="container" style="width: 40%; justify-content: center;">
								<button type="submit" name="upload_image" value="upload_image" class="button" form="form_upload_image">Upload Image</button>
							</div>
						</div>
						<div class="element container" style="width: 60%; justify-content: right;">
							<div class="element container" style="width: 40%; justify-content: right;">
								<div class="container" style="width: 30%; justify-content: center;">
									<label for="upload_grid" class="label">Config:</label>
								</div>
								<div class="container" style="width: 40%; justify-content: center;">
									<input type="file" name="config_file" id="config_file" class="upload" form="form_upload_model" required>
								</div>
							</div>
							<div class="element container" style="width: 5%;"></div>
							<div class="element container" style="width: 50%;">
								<div class="container" style="width: 30%; justify-content: center;">
									<label for="upload_mask" class="label">Weights:</label>
								</div>
								<div class="container" style="width: 30%; justify-content: center;">
									<input type="file" name="path_file" id="path_file" class="upload" form="form_upload_model" required>
								</div>
								<div class="container" style="width: 40%; justify-content: center;">
									<button type="submit" name="upload_model", value="upload_model" class="button" form="form_upload_model">Upload Model</button>
								</div>
							</div>
						</div>
					</div>
					<hr>
					<div class="container" style="justify-content: right;">
						<div style="width: 20%;">
							<button type="submit" name="action" value="clear_data" class="button" style="width: 150px;" form="form_clear">Clear Loaded Data</button>
						</div>
						<div style="width: 20%;">
							<button type="submit" name="action" value="get_all_points" style="width: 150px;" class="button"  form="form_compare_points">Compare Model Points</button>
						</div>
					</div>
					<hr>
					<div class="container">
						<div style="width: 20%; justify-content: space-evenly;" class="element container">
							<label for="image_check" class="label">Sample Image</label>
							<input type="checkbox" id="image_check" class="check" value="image_display" onclick=toggle_vis(this)></input>
						</div>
						<div style="width: 20%; justify-content: space-evenly;" class="element container">
							<label for="grid_check" class="label">Grid Mask</label>
							<input type="checkbox" id="grid_check" class="check" value="grid_display" onclick=toggle_vis(this)></input>
						</div>
						<div style="width: 20%; justify-content: space-evenly;" class="element container">
							<label for="mask_check" class="label">Segmented Mask</label>
							<input type="checkbox" id="mask_check" class="check" value="mask_display" onclick=toggle_vis(this)></input>
						</div>
						<div style="width: 35%; justify-content: right;" class="element container">
							<label for="zoom_slider" class="label">Zoom Level</label>
							<input type="range" id="zoom_slider" class="slider" name="zoom_offset" min=1 max=100 value=1 oninput = slide_zoom(this)>
						</div>
					</div>
					<hr>
				</div>
			</div>
			<div class="options_window" id="options_window">
				<div class="element">
					<div class="element">
						<select id="select_image" class="select" name="image" form="form_update_image" required>
							{% for image_index in range(data.image_list|length) %}
								<option value={{data.image_list[image_index]}} {% if image_index == data.image_idx %} selected {% endif %} {% if image_index == 0 %} disabled {% endif %} class="option">{% if image_index == 0 %} Select Image {%else%} {{data.image_list[image_index]}} {% endif %}</option>
							{% endfor %}
						</select>
						<button type="submit" name="action" value="update_image" class="button" form="form_update_image">Update Image</button>
					</div>

				<hr>
					<div class="element">
						<select id="select_grid" class="select" name="grid" form="form_update_grid" required>
							{% for grid_index in range(data.grid_list[data.img.split('/')[-2]]|length) %}
								<option value={{data.grid_list[data.img.split('/')[-2]][grid_index]}} {% if grid_index == data.grid_idx %} selected {% endif %} {% if grid_index == 0 %} disabled {% endif %} class="option">{% if grid_index == 0 %} Select Image {% else %} {{data.grid_list[data.img.split('/')[-2]][grid_index]}} {% endif %}</option>
							{% endfor %}
						</select>
						<button type="submit" name="action" value="update_grid" class="button" form="form_update_grid">Update Grid</button>
					</div>

				<hr>
					<div class="element">
						<select id="select_mask" class="select" name="mask" form="form_update_mask" required>
							{% for mask_index in range(data.mask_list[data.img.split('/')[-2]]|length) %}
								<option value={{data.mask_list[data.img.split('/')[-2]][mask_index]}} {% if mask_index == data.mask_idx %} selected {% endif %} {% if mask_index == 0 %} disabled {% endif %} class="option">{% if mask_index == 0 %} Select Mask {% else %} {{data.mask_list[data.img.split('/')[-2]][mask_index]}} {% endif %}</option>
							{% endfor %}
						</select>
						<button type="submit" name="action", value="update_mask" class="button" form="form_update_mask">Update Mask</button>
					</div>

				<hr>
					<div class="element">
						<select id="select_model" class="select" name="model" form="form_update_model" required>
							{% for model_index in range(data.model_list|length) %}
							<option value={{data.model_list[model_index]}} {% if model_index == data.model_idx %} selected {% endif %} {% if model_index == 0 %} disabled {% endif %} class="option">{% if model_index == 0 %} Select Model {%else%} {{data.model_list[model_index]}} {% endif %}</option>
							{% endfor %}
						</select>
						<button type="submit" name="action" value="update_model" class="button" form="form_update_model" required>Update Model</button>
					</div>
				</div>
				<hr>
				<div class="element">
					<input type="number" id="row_count" name="row_count" class="textinput" size=5 placeholder="# Of Rows" form="form_create_grid" required></input>
					<input type="number" id="col_count" name="col_count" class="textinput" size=5 placeholder="# Of Columns" form="form_create_grid" required></input>
					<input type="number" id="row_space" name="row_space" class="textinput" size=5 placeholder="Row Spacing" form="form_create_grid" required></input>
					<input type="number" id="col_space" name="col_space" class="textinput" size=5 placeholder="Column Spacing" form="form_create_grid" required></input>
					<input type="number" id="grid_w" name="grid_w" class="textinput" size=5 placeholder="Grid Width" form="form_create_grid" required></input>
					<input type="number" id="grid_l" name="grid_l" class="textinput" size=5 placeholder="Grid Length" form="form_create_grid" required></input>
					<input type="number" id="grid_x" name="grid_x" class="textinput" size=5 placeholder="Grid X Position" form="form_create_grid" required></input>
					<input type="number" id="grid_y" name="grid_y" class="textinput" size=5 placeholder="Grid Y Position" form="form_create_grid" required></input>
					<input type="text" id="grid_name" name="grid_name" class="textinput" size=5 placeholder="Grid Name" form="form_create_grid" required></input>
					<button type="submit" name="action" value="create_grid" class="button" form="form_create_grid">Create Grid</button>
				</div>
				<hr>
				<div class="element">
					<input type="text" id="mask_name" name="mask_name" class="textinput" size=5 placeholder="Mask Name" form="form_create_mask" required></input>
					<button type="submit" name="action" value="create_mask" class="button" form="form_create_mask">Segment Image</button>
				</div>
				
				<hr>
				<div class="element">
					<button type="submit" name="action" value="get_points" style="width: 150px;" class="button"  form="form_create_points">Get Grid Points</button>

				</div>

			</div>
			<div class="output_window" id="output_window">
				<pre id="points_display" class="points_display" disabled=true>{{data.point_text}}</pre>
				<hr>
				<pre id="output_display" class="output_display" disabled=true>{{data.output_text}}</pre>
				<hr>
				<div class="element">
					<input type="number" id="pt_y" name="pt_y" class="textinput" size=5 placeholder="Point Column" form="form_update_point" required></input>
					<input type="number" id="pt_x" name="pt_x" class="textinput" size=5 placeholder="Point Row" form="form_update_point" required></input>
					<select style="width: 200px;" id="select_ptclass" class="select" name="pt_class" form="form_update_point" required>
						<option value="UNKNOWN MATERIAL" selected class="option">"UNKNOWN MATERIAL"</option>
						{% for class_index in range(data.point_classes|length) %}
							<option value={{data.point_classes[class_index]}} class="option">{{data.point_classes[class_index]}}</option>
						{% endfor %}
					</select>
					<button type="submit" name="action" value="update_point" style="width: 150px;" class="button" form="form_update_point">Update Point Class</button>
				</div>
				<div>
					<button type="submit" name="action" value="save_points" style="width: 150px;" class="button" form="form_save_points">Save Point Classes</button>
				</div>
				<hr>
				<pre style="height: 50px;" id="image_name_text" class="textdisplay" disabled=true>Loaded image: {{data.img}}</pre>
				<pre style="height: 50px;" id="grid_name_text" class="textdisplay" disabled=true>Loaded grid image: {{data.grid_img}}</pre>
				<pre style="height: 50px;" id="mask_name_text" class="textdisplay" disabled=true>Loaded mask image: {{data.mask_img}}</pre>
				<pre style="height: 50px;" id="model_cfg_name_text" class="textdisplay" disabled=true>Loaded model config: {{data.config}}</pre>
				<pre style="height: 50px;" id="model_pth_name_text" class="textdisplay" disabled=true>Loaded model path: {{data.pth}}</pre>
			</div>
		</div>
	</body>
	<script>
		dragElement(document.getElementById("image_board"));
		function toggle_vis(check) {
			if (check.checked==true) {
				document.getElementById(check.value).style.visibility = "visible";
			}
			else {
				document.getElementById(check.value).style.visibility = "hidden";
			}
		}
		function slide_zoom(slide){
			zoom = slide.value;
			image_board.style.transformOrigin = "top left";
			image_board.style.scale = 1 + ((zoom - 1) / 25);
			image_board.style.top = "0px";
			image_board.style.left = "0px";
		}
		function slide_scroll(e){
			if(e.deltaY > 0){    
				zoom += zoom_interval;
			}
			else{
				zoom -= zoom_interval;
			}
			image_board.style.scale = zoom;
			zoom_slider.value = zoom;
		}
		function dragElement(elmnt) {
			img = document.getElementById("image_board_move");
			var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
			elmnt.onmousedown = dragMouseDown;

			function dragMouseDown(e) {
				e = e || window.event;
				e.preventDefault();
				// get the mouse cursor position at startup:
				pos3 = e.clientX;
				pos4 = e.clientY;
				document.onmouseup = closeDragElement;
				// call a function whenever the cursor moves:
				document.onmousemove = elementDrag;
			}

			function elementDrag(e) {
				e = e || window.event;
				e.preventDefault();
				// calculate the new cursor position:
				pos1 = pos3 - e.clientX;
				pos2 = pos4 - e.clientY;
				pos3 = e.clientX;
				pos4 = e.clientY;
				// set the element's new position:
				img.style.top = (img.offsetTop - pos2) + "px";
				img.style.left = (img.offsetLeft - pos1) + "px";
			}

			function closeDragElement() {
				// stop moving when mouse button is released:
				document.onmouseup = null;
				document.onmousemove = null;
			}
		}
		const container = document.getElementById("image_board_move");
		const image1 = document.getElementById("image_display");
		const image2 = document.getElementById("grid_display");
		
		const containerWidth = container.clientWidth;
		const image1Width = image1.naturalWidth;
		
		const scalingFactor = containerWidth / image1Width;
		
		image2.style.width = `${image2.naturalWidth * scalingFactor}px`;
		image2.style.visibility = "visible";
	</script>
</html>


