<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>SOPIA 1 - v0.67</title>
		<meta name="description" content="sopia project">
		<meta name="author" content="miguel martinez">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
		<script src="{{url_for('static', filename='scripts.js')}}"></script>
		<style>
			body {background: #E5E5E5;}
		</style>
	</head>

	<body>
		<form id="form_upload_image" class="form_action" action="{{url_for('sopia_upload_image')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_upload_grid" class="form_action" action="{{url_for('sopia_upload_grid')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_upload_mask" class="form_action" action="{{url_for('sopia_upload_mask')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_upload_model" class="form_action" action="{{url_for('sopia_upload_model')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_image" class="form_action" action="{{url_for('sopia_update_image')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_grid" class="form_action" action="{{url_for('sopia_update_grid')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_mask" class="form_action" action="{{url_for('sopia_update_mask')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_update_model" class="form_action" action="{{url_for('sopia_update_model')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_create_grid" class="form_action" action="{{url_for('sopia_create_grid')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_create_mask" class="form_action" action="{{url_for('sopia_create_mask')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_create_mask" class="form_action" action="{{url_for('sopia_create_points')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_compare_points" class="form_action" action="{{url_for('sopia_compare_points')}}" method="post" enctype="multipart/form-data"></form>
		<form id="form_clear" class="form_action" action="{{url_for('sopia_clear')}}" method="post" enctype="multipart/form-data"></form>
		
		<div class="main_window" id="main_window">
			<div class="image_window" id="image_window">
				<div class="image_board" id="image_board">
					<img src="{{url_for('static', filename=data.img)}}" id="image_display" class="image_display" alt ="sample image layer"></img>
					<img src="{{url_for('static', filename=data.grid_img)}}" id="grid_display" class="grid_display" alt="grid image layer"></img>
					<img src="{{url_for('static', filename=data.mask_img)}}" id="mask_display" class="mask_display" alt="segmented mask layer"></img>
				</div>
			</div>

			<div class="options_window" id="options_window">
				<div class="element">
					<div class="element">
						<select id="select_image" class="select" name="image" form="form_update_image" required>
							{% for image_index in range(data.image_list|length) %}
								<option value={{mask_index}} {% if image_index == data.image_idx %} selected {% endif %} {% if image_index == 0 %} disabled {% endif %} class="option">{% if image_index == 0 %} Select Image {%else%} {{data.image_list[image_index]}} {% endif %}</option>
							{% endfor %}
						</select>
						<button type="submit" name="action", value="update_image" class="button" form="form_update_image">Update Image</button>
					</div>

				<hr>
					<div class="element">
						<select id="select_grid" class="select" name="grid" form="form_update_grid" required>
							{% for grid_index in range(data.grid_list|length) %}
							<option value={{grid_index}} {% if grid_index == data.grid_idx %} selected {% endif %} {% if grid_index == 0 %} disabled {% endif %} class="option">{% if grid_index == 0 %} Select Grid {%else%} {{grid_index}} {% endif %}</option>
							{% endfor %}
						</select>
						<button type="submit" name="action", value="update_grid" class="button" form="form_update_grid">Update Grid</button>
					</div>

				<hr>
					<div class="element">
						<select id="select_mask" class="select" name="mask" form="form_update_mask" required>
							{% for mask_index in range(data.mask_list|length) %}
							<option value={{mask_index}} {% if mask_index == data.mask_idx %} selected {% endif %} {% if mask_index == 0 %} disabled {% endif %} class="option">{% if mask_index == 0 %} Select Mask {%else%} {{mask_index}} {% endif %}</option>
							{% endfor %}
						</select>
						<button type="submit" name="action", value="update_mask" class="button" form="form_update_mask">Update Mask</button>
					</div>

				<hr>
					<div class="element">
						<select id="select_model" class="select" name="model" form="form_update_model" required>
							{% for model_index in range(data.model_list|length) %}
							<option value={{model_index}} {% if model_index == data.model_idx %} selected {% endif %} {% if model_index == 0 %} disabled {% endif %} class="option">{% if model_index == 0 %} Select Model {%else%} {{data.model_list[model_index]}} {% endif %}</option>
							{% endfor %}
						</select>
						<button type="submit" name="action", value="update_model" class="button" form="form_update_model" required>Update Model</button>
					</div>
				</div>
				
				<hr>
				<div class="element">
					<input type="text" id="row_count" name="row_count" class="textinput" size=5 placeholder="# Of Rows" form="form_create_grid" required></input>
					<input type="text" id="col_count" name="col_count" class="textinput" size=5 placeholder="# Of Columns" form="form_create_grid" required></input>
					<input type="text" id="row_space" name="row_space" class="textinput" size=5 placeholder="Row Spacing" form="form_create_grid" required></input>
					<input type="text" id="col_space" name="col_space" class="textinput" size=5 placeholder="Column Spacing" form="form_create_grid" required></input>
					<input type="text" id="grid_w" name="grid_w" class="textinput" size=5 placeholder="Grid Width" form="form_create_grid" required></input>
					<input type="text" id="grid_l" name="grid_l" class="textinput" size=5 placeholder="Grid Length" form="form_create_grid" required></input>
					<input type="text" id="grid_x" name="grid_x" class="textinput" size=5 placeholder="Grid X Position" form="form_create_grid" required></input>
					<input type="text" id="grid_y" name="grid_y" class="textinput" size=5 placeholder="Grid Y Position" form="form_create_grid" required></input>
					<input type="text" id="grid_name" name="grid_name" class="textinput" size=5 placeholder="Grid Name" form="form_create_grid" required></input>
					<button type="submit" name="action", value="create_grid" class="button" form="form_create_grid">Create Grid</button>
				</div>
				<hr>
				<div class="element">
					<input type="text" id="mask_name" name="mask_name" class="textinput" size=5 placeholder="Mask Name" form="form_create_mask" required></input>
					<button type="submit" name="action", value="create_mask" class="button" form="form_create_mask">Segment Image</button>
				</div>
				<hr>
				<div class="element">
					<input type="text" id="pt_rad" name="pt_rad" class="textinput" size=5 placeholder="Point Radius" form="form_create_points" required></input>
					<button type="submit" name="action", value="get_points" class="button"  form="form_create_points">Get Grid Points</button>
				</div>
				<hr>
				<div class="element">
					<button type="submit" name="action", value="get_all_points" class="button"  form="form_compare_points">Compare Model Points</button>
				</div>

			</div>

			<div class="output_window" id="output_window">
				<pre id="points_display" class="textdisplay" disabled=true>{{data.point_text}}</pre>
				<hr>
				<pre id="output_display" class="textdisplay" disabled=true>{{data.output_text}}</pre>
				<hr>
					<div class="element">
						<label for="upload_image" class="label">Image</label>
						<input type="file" id="image_file" class="upload" form="form_upload_image" required>
						<button type="submit" name="upload_image", value="upload_image" class="button" form="form_upload_image">Upload Image</button>
					</div>
					<div class="element">
						<label for="upload_grid" class="label">Grid</label>
						<input type="file" id="grid_file" class="upload" form="form_upload_grid" required>
						<button type="submit" name="upload_grid", value="upload_grid" class="button" form="form_upload_grid">Upload Grid</button>
					</div>
					<div class="element">
						<label for="upload_mask" class="label">Mask</label>
						<input type="file" id="mask_file" class="upload" form="form_upload_mask" required>
						<button type="submit" name="upload_mask", value="upload_grid" class="button" form="form_upload_mask">Upload Mask</button>
					</div>
				<hr>
					<div class="element">
						<label for="upload_config" class="label">Config</label>
						<input type="file" id="config_file" class="upload" form="form_upload_model" required>
						<label for="upload_path" class="label">Paths</label>
						<input type="file" id="path_file" class="upload" form="form_upload_model" required>
						<button type="submit" name="upload_model", value="upload_model" class="button" form="form_upload_model">Upload Model</button>
					</div>
					
				<hr>
				<div>
					<button type="submit" name="action", value="clear_data" class="button"  form="form_clear">Clear Loaded Data</button>
				</div>
				
				<hr>
				<div>
				<div>
				<div class="element">
					<label for="image_check" class="label">Sample Image</label>
					<input type="checkbox" id="image_check" class="check" value="image_display"></input>
				</div>
				<div class="element">
					<label for="grid_check" class="label">Grid Mask</label>
					<input type="checkbox" id="grid_check" class="check" value="grid_display"></input>
				</div>
				<div class="element">
					<label for="mask_check" class="label">Segmented Mask</label>
					<input type="checkbox" id="mask_check" class="check" value="mask_display"></input>
				</div>
				</div>
				<div>
				<div class="element">
					<label for="zoom_slider" class="label">Zoom Level</label>
					<input type="range" id="zoom_slider" class="slider" name="zoom_offset" min=1 max=10 value=1>
				</div>

				<div class="element">
					<label for="x_slider" class="label">X Offset</label>
					<input type="range" id="x_slider" class="slider" name="zoom_offset" min=0 max=10 value=0>
				</div>

				<div class="element">
					<label for="y_slider" class="label">Y Offset</label>
					<input type="range" id="y_slider" class="slider" name="zoom_offset" min=0 max=10 value=0>
				</div>
				</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		
	</script>
</html>


